@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
    /* Position the pagination dots relative to the bottom of the container */
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    text-align: center;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fBBF24;
    /* yellow-400 */
    transform: scale(1.2);
    opacity: 1;
}

/* Hide the default Swiper arrows since we are making our own */
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}